<form [formGroup]="customerForm" (ngSubmit)="onFormSubmit()">
    <label>First Name : </label>
    <input type="text" formControlName="firstName" required/>

    <br><br>

    <label>Last Name : </label>
    <input type="text" formControlName="lastName" required/>

    <div formGroupName="address">
        <h3>Address</h3>

        <label>Street : </label>
        <input type="text" formControlName="street" required/>

        <br><br>
        <label>City : </label>
        <input type="text" formControlName="city" required/>

        <br><br>
        <label>State : </label>
        <input type="text" formControlName="state" required/>

        <br><br>
        <label>Zip : </label>
        <input type="text" formControlName="zip" required/>

    </div>
    <br>
    <button type="submit">Submit</button>
</form>

<br><br>
----------------------------------
<br>
<input type="text" [formControl]="name"/>
<p>{{name}}</p>