<form [formGroup]="customerForm" (ngSubmit)="submitCustomer.emit(customerForm.value)">

    <label>First Name : </label>
    <input type="text" formControlName="firstName" required/>

    <br><br>

    <label>Last Name : </label>
    <input type="text" formControlName="lastName" required/>

    <br><br>

    <label>Contact Number : </label>
    <input type="text" formControlName="contactno" required/>

    <br><br>

    <label>Email: </label>
    <input type="text" formControlName="emailId" required/>

    <br><br>
    <button type="submit">Submit</button>
</form>